<!DOCTYPE html>
<html>
  <head>
    <title>AtoZ</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <input type="checkbox" name="toggle" id="toggle"></input>
    <label for="toggle"></label>

    <%= render "nav" %>

    <div class="title">
      <h1><i>A </i>&<i> Z</i></h1>
    </div>

    <div class="story-container">
      <%= yield %>
    </div>

    <div class="story-container">
      <h2>About</h2>
      <p>This is a collection of stories from undergraduate writers at the University of Cincinnati. Together, we generated lists containing characters names starting with A & Z. We imagined settings from prompts like, "an unsual indoor space," or objects from "something as big as a toaster-- but not a toaster, and not a cat." Then we wrote for twenty minutes.</p>
      <p> This is what happened.</p>
      <br><br>
    </div>

  </body>
</html>